<ion-view class="fondox" view-title="Bio-Tech">
  <ion-content class="padding">
  	<div class="row">
  		 <div class="col borde"><video autoplay controls src="../vid/Agua1.mp4"width="300" heigth="300"></video>
  		 </div>
  	</div>
	<header>
		<nav>
			<ul>
				<li><a href="#">Siclo del Agua</a></li>
				<li><a href="#">¿Porqué es importante el agua para el ser humano?</a></li>
				<li><a href="#">Fases del agua</a></li>
			</ul>
		</nav>
	</header>

	<div class="row"> 
  		<div><h1 align="center">La importacia Del Agua</h1>
  		</div>
  	</div>

	<div class="row">
	<section class="wrapper">
		<section class="main">
			<article>
				<h2 align="center">Siclo del Agua</h2>
				<p>El fenómeno conocido como ciclo del agua es aquel que hace que el agua vaya transformando sus estados en diferentes momentos para mantenerse siempre como uno de los elementos más importantes del planeta. El ciclo del agua es un ciclo muy complejo que sucede a partir de la interacción de reacciones químicas con reacciones biológicas y geográficas. Es importante señalar que sin el ciclo de agua los seres humanos no podrían acceder a este elemento natural ya que se volvería un recurso agotable estando en un sólo estado y no recreándose una y otra vez.</p>
			</article>

		</div>
  </ion-content>
</ion-view>
