.fondox{
	background-color: #68B9B8 
}
.borde{
	border: solid white 1px; 
}
*{
	margin:0;
	padding:0;
}

body {
	background: #e6e6e6;
}

header, .main, footer, aside {
	background:;
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

header nav {
	background: #528FD5;
	overflow:hidden; 
}

header nav ul {
	list-style:none;
}

header nav ul li {
	float:;
}

header nav ul li a {
	padding:10px 10px;
	display:block;  
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover{
	background:#75ACEC;
}

.main .articles .aside{
	width:70%;
	float:right;
	background:#fff; 
}

aside {
	width:30%;
	background:#ff8000;
	float:right;
}
nav {
	text-align: center;
}
.text{
text-align: center;
}
