.fondox{
	background-color: #68B9B8 
}
.borde{
	border: solid white 1px;
}
*{
	margin:0;
	padding:0;
}

body {
	background: #e6e6e6;
}

header, .main, footer, aside {
	background:;
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

header nav {
	background: #528FD5;
	overflow:hidden; 
}

header nav ul {
	list-style:none;
}

header nav ul li {
	float:;
}

header nav ul li a {
	padding:10px 10px;
	display:block;  
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover{
	background:#75ACEC;
}

.main .articles .aside{
	width:70%;
	float:right;
	background:#fff; 
}

aside {
	width:30%;
	background:#ff8000;
	float:right;
}
nav {
	text-align: center;
}
.text{
text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  align-items: center;
  justify-content: center;
}

p {
    margin-top: 20px;
    text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  background: black url("http://api.thumbr.it/whitenoise-560x800.png?background=0f1517ff&noise=626262&density=67&opacity=15") repeat fixed center;
}